h1{
font-size: 45px;
font-family: sans-serif;
text-align: center;
text-decoration: underline;

}
#sam {
background-image: url( ../assets/backgrounds/landing.jpg);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
min-height: 80%;
font-family:'Vollkorn', serif;
color: white;
justify-content: center;
align-items: center;
flex-direction: column;
display: flex;

}
.container {
     margin: 100px;
     font-family:'Vollkorn', serif;
 }
 #meals {
    width: 100%;
     min-height: 25%;
   }

  #breakfast {

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 180px;
      text-transform: capitalize;
      background-image: url("../assets/foodtop/breakfast.jpg");
       
      background-repeat: no-repeat;
  }
  #lunch {

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 180px;
      text-transform: capitalize;
      background-image: url("../assets/foodtop/breakfast.jpg");

      background-repeat: no-repeat;
  }
  #dinner {

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 180px;
      text-transform: capitalize;
      background-image: url("../assets/foodtop/breakfast.jpg");

      background-repeat: no-repeat;
  }
