h1{
font-size: 45px;
font-family: sans-serif;
text-align: center;
text-decoration: underline;

}
#sam {
background-image: url( ../assets/backgrounds/landing.jpg);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
min-height: 80%;
font-family:'sans serif'cursive;
color: white;
justify-content: center;
align-items: center;
flex-direction: column;
display: flex;
padding: 0;


}

 }
 #meals {


     border-top: 0px;
     padding-top: 0px;
   }
   .container1 {
     padding: 0;
     margin-left: 0px;
     margin-right: 0px;
margin: 0;
width: auto;
   }

  #breakfast {

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
      text-transform: capitalize;
      background-image: url("../assets/foodtop/breakfast.jpg");

      background-repeat: no-repeat;
border-top: 0px;
padding-top: 10px;
color: white;
padding-bottom: 50;
  }
  #lunch {

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
      text-transform: capitalize;
      background-image: url("../assets/foodtop/lunch.jpg");

      background-repeat: no-repeat;
      border-top: 0px;
      padding-top: 10px;
      color: white;
      padding-bottom: 50;

  }
  #dinner {

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
      text-transform: capitalize;
      border-top: 0px;
      padding-top: 10px;
      color: white;
      padding-bottom: 50;
        background-image: url("../assets/foodtop/dinner.jpg");
        background-repeat: no-repeat;

  }
#breakfast:hover {

  transition: all 1s ease;
opacity: 0.5;
color: black;
overflow: hidden;
bottom: 0;
right: 0;


}
#lunch:hover {
  transition: all 1s;
  opacity: 0.5;
  color: black;
  overflow: hidden;
  bottom: 0;
  right: 0;

}
#dinner:hover {
  transition: all 1s;
  opacity: 0.5;
  color: black;
  overflow: hidden;
  bottom: 0;
  right: 0;

}

.menu-btn div {
  position: absolute;
  left: 100%;
  top: 64%;
  padding-right: 8;
  margin-top: ;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 200;
  vertical-align: middle;


}
.menu-btn span {
  display: block;
  width: 50px;
  height: 5px;
  margin: 10px;
  background: white;
  padding-bottom:  5px;
  border-top: 5;
padding-left: 10px;

margin-right: 1200px;
margin-bottom: 10px;

}
.responsive-menu {
  display: none;
  background: black;
  background-size: cover;
  background-position: top;
  overflow: visible;
  transition: all 3s;
  max-height: 300px;

}
.expand {
display: inline-block;
  max-height: 300px;
}
#time {
  width: 100%;
   min-height: 25%;
   border-top: 0px;
   padding-top: 0px;

   justify-content: center;
   align-items: center;

 }

 #party-time, #happy-hour {

   justify-content: center;
   align-items: center;
 }

 #happy-hour {
   height: 105px;
   width: 350px;

   justify-content: center;
   display: flex;
   align-items: center;

 }

 #party-time {
   height: 105px;
   width: 350px;
   background-color: #ff3300;
   justify-content: center;
   display: flex;
   align-items: center;
}
#about{
  align-content: center;
  align-items: center;


}
.container2 {
padding-top: 20px;
  background-color: white;
  border-top:0px;
  padding-left: 200px;
  padding-right: 50px;



  }
.jumbotron {
  border-style: inset;
  padding: 5;
}

  }
#foods {
  background-image: url(../assets/backgrounds/foodsBg.jpg);

}
#subscribe {
  background-image: url(../assets/backgrounds/subscribe.jpg);
  background-repeat: no-repeat;
  background-size: cover;


  text-align: center;
  color: white;
  border-top:0px;
  padding-top: 50px;
  align-items: center;

  padding-bottom: 50px;
  padding-top: 50px;




}
.container4 {
  border-top:0px;
  padding-top: 100px;
}
#customers {
background-color: white;
}
#footer {
 text-align: center;
 color: white;
 border-top:0px;
 padding-top: 50px;

 background-color: F15A29;

}
.move {
  align-items: center;

  padding-bottom: 10px;
  padding-top: 10px;
  margin-left: 500px;
}
.button {
  background-color: F15A29;
  color: white;
  padding-top: 5px;
  padding-bottom: 5;
  padding-left: 5;  padding-right: 5;
  margin-left: 20;

}
